/* 1rem = 16px */

/* COMMON STYLES */
* {
  /* Скидання відступів */
  margin: 0;
  padding: 0;
  /* Не ламаемо розміри елементів при відступах */
  box-sizing: border-box;
}

html {
  /* Плавний скролл */
  scroll-behavior: smooth;
}

body {
  font-family: "Heebo", sans-serif;
  line-height: 1.5rem;
  font-weight: 400;
  color: #21243d;
  text-align: left;
}

header {
  height: 6.25rem;
}

@media (max-width: 768px) {
  header {
    height: 3.2rem;
  }
}

main {
  padding-bottom: 4rem;
}

@media (max-width: 768px) {
  main {
    padding-bottom: 2rem;
  }
}

.container {
  width: 100%;
  max-width: 54rem;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .container {
    max-width: 22rem;
    padding: 0 0.5rem;
  }
}

h2 {
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 3.75rem;
  text-align: left;
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.125rem;
    text-align: center;
  }
}

h3 {
  font-size: 1.815rem;
  font-weight: 700;
  line-height: 2.75rem;
}

@media (max-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}

p {
  font-size: 1rem;
}

.no-mt {
  margin-top: 0 !important;
}
/* END COMMON STYLES */

/* HEADER */
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  max-width: 72rem;
  margin: 0 auto;
  padding-right: 3.75rem;
  position: relative;
}

.menu__list {
  display: flex;
  gap: 2rem;
}

.menu a {
  text-decoration: none;
  color: #21243d;
  font-weight: 500;
  font-size: 1.25rem;
  transition: color 0.3s;
}

.menu a:hover,
.menu a:active,
.menu .active {
  color: #ff6464;
}

.burger {
  display: none;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  background-image: url("../img/burger-menu.svg");
  transition: all 0.3s ease;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  z-index: 20;
}

.burger.active {
  background-image: url("../img/close.svg");
  /* transform: rotate(90deg); */
}

@media (max-width: 768px) {
  .menu {
    max-width: 22rem;
    padding-right: 0.5rem;
  }

  .burger {
    display: block;
    margin-left: auto;
  }

  .menu__list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: 100%;
    padding: 1.5rem;
    box-shadow: 0 0.375rem 0.625rem rgba(0, 0, 0, 0.1);
    text-align: right;
    z-index: 10;
    border-radius: 0 0 0.375rem 0.375rem;
  }

  .menu__list.open {
    display: flex;
  }

  .menu a {
    display: block;
    padding: 0.75rem 0;
    /* font-size: 1.5rem; */
  }
}
/* END HEADER */

/* HOME PAGE */
/* HERO */
.hero {
  margin-top: 5.75rem;
}

.home-hero {
  margin-top: 8.25rem;
}

.hero__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 7rem;
  padding-bottom: 3.5rem;
}

.hero__content-home {
  position: relative;
}

.hero__content-home::before {
  content: "";
  position: absolute;
  top: 0;
  height: 2rem;
  width: 100%;
  background-color: #c4c4c4;
}

.home-page {
  padding-top: 3rem;
  padding-bottom: 4.5rem;
}

@media (max-width: 768px) {
  .hero,
  .home-hero {
    margin-top: 0;
  }

  .hero__content {
    padding-bottom: 2rem;
  }

  .hero__content-home::before {
    content: none;
  }

  .home-page {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}

.hero__info {
  flex: 1;
  order: 1;
}

.hero__title {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 3.75rem;
}

.hero__title-home {
  margin-top: 0;
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-top: 1rem;
  }

  .hero__title-home {
    margin-top: 0;
  }
}

.hero__info .hero__description {
  margin-top: 2.25rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 768px) {
  .hero__info .hero__description {
    margin-top: 1.25rem;
    margin-bottom: 1.75rem;
  }
}

.hero__button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #ff6464;
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 0.125rem;
  transition: background-color 0.3s ease-in-out;
}

.hero__button:hover,
.hero__button:active {
  background-color: #e05555;
}

.hero__avatar-box {
  flex-shrink: 0;
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 50%;
  overflow: hidden;
  order: 2;
}

.hero__avatar-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .hero__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
  }

  .hero__info {
    order: 2;
  }

  .hero__avatar-box {
    max-width: 12rem;
    max-height: 12rem;
    box-shadow: -0.25rem 0.5rem 0 0 #edf7fa;
    order: 1;
  }
}
/* END HERO */

/* FUTURED WORKS */
.featured-works,
.works-list {
  margin-top: 2rem;
}

.works-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.work {
  position: relative;
  display: flex;
  gap: 1.25rem;
}

.work::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  top: 100%;
  transform: translateY(-50%);
  height: 0.0625rem;
  background-color: #e0e0e0;
  margin-top: 2rem;
}

.work:last-child::after,
.blog-article:last-child::after {
  content: none;
}

@media (max-width: 768px) {
  .featured-works,
  .works-list {
    margin-top: 1.5rem;
  }

  .works-list {
    gap: 2.5rem;
  }

  .work {
    flex-direction: column;
    align-items: center;
  }

  .work::after {
    margin-top: 1rem;
  }
}

.work img {
  width: 16rem;
  height: 11.25rem;
  border-radius: 0.375rem;
  object-fit: cover;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .work img {
    width: 100%;
    height: auto;
  }
}

.work h3 {
  margin-bottom: 0.875rem;
}

.work__title {
  font-size: 1.815rem;
  font-weight: 700;
  line-height: 2.75rem;
}

@media (max-width: 768px) {
  .work__title {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}

.work__badge {
  background-color: #142850;
  color: white;
  padding: 0 0.625rem;
  font-size: 1.125rem;
  border-radius: 1rem;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .work__badge {
    font-size: 1rem;
    margin-right: 0.75rem;
    font-weight: 500;
  }
}

.work p {
  margin-top: 1rem;
}
/* END FUTURED WORKS */
/* END HOME PAGE */

/* BLOG PAGE */
.hero-left {
  flex-direction: row;
  text-align: left;
}

.posts-list {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

@media (max-width: 768px) {
  .posts-list {
    gap: 1.5rem;
  }
}

.blog-article {
  position: relative;
}

.blog-article::after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 100%;
  transform: translateY(-50%);
  height: 0.0625rem;
  width: 100%;
  background-color: #e0e0e0;
}

.blog-article__content {
  padding-bottom: 2rem;
}

.blog-article__title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.75rem;
}

@media (max-width: 768px) {
  .blog-article__title {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
}

.blog-article__info {
  display: flex;
  /* gap: 1rem; */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .blog-article__info {
    margin-top: 0.5rem;
    margin-bottom: 1.25rem;
  }
}

.blog-article__date,
.blog-article__tech,
.work__tech {
  font-size: 1.25rem;
  line-height: 2rem;
}

.blog-article__date {
  position: relative;
  margin-right: 1.25rem;
  padding-right: 1.25rem;
}

.blog-article__date::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.0625rem;
  height: 70%;
  background-color: black;
}

@media (max-width: 768px) {
  .blog-article__date,
  .blog-article__tech,
  .work__tech {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .blog-article__date {
    margin-right: 1rem;
    padding-right: 1rem;
  }
}

.blog-article__tech,
.work__tech {
  color: #8695a4;
}
/* END BLOG PAGE */
